/**  @base  **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, button, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0 none;
}
ol, ul {
    list-style: none outside none;
}
a {
    text-decoration: none;
	color:#34495E;
}
a:focus {
    outline: medium none;
}
input,textarea,select,button {
	outline:none;
	resize:none
}
.clear{
	clear:both;
}
.center{
	text-align:center;
}
.number{
	font-family:"Arial";
}
/* button, input, select, textarea { font-size: 100%; }  使得表单元素在 ie 下能继承字体大小 */

/**  @common  **/
.line-height-20{
	height:20px;
}
.input-radio{
	height:40px;
	line-height:40px;
	vertical-align:middle;
}
.input-text{
	height:40px;
	line-height:40px;
	padding:0;
	font-size:16px;
	font-family:"微软雅黑",Arial;
	border:1px solid #84BFEA;
}
.input-text-middle{
	height:27px;
	line-height:27px;
	padding:0;
	font-size:16px;
	font-family:"微软雅黑",Arial;
	border:1px solid #84BFEA;
}
.float-left{
	float:left;
}
a.blueBtn{
	font-size:24px;
	height:60px;
	line-height:60px;
	padding:0 25px;
	background:#36a9e1;
	font-family:"微软雅黑";
	color:#FFFFFF;
	display:inline-block;
	text-align:center;
}
a.blueBtn-middle{
    font-size:18px;
    height:29px;
    line-height:29px;
    padding:0 15px;
    background:#36a9e1;
    font-family:"微软雅黑";
    color:#ffffff;
    display:inline-block;
    text-align:center;
}
a.blueBtn:hover{
	background:#1e8fc6;
}
.icon{
	background-image: url("../i/imgs.gif"); 
	background-repeat: no-repeat;
}

/**  @main  **/
body {
    font: 14px/1.75 "微软雅黑",Arial,sans-serif;
    height: 100%;
	color:#34495E;
	background:#F1F2F7;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
h1{
	font-weight:normal;
	font-size:16px;
}
/**  #header  **/
#header{
	background:#485B7F;
	height:50px;
	line-height:50px;
	min-width:1200;
	width:100%;
}
#header-box{
	width:1200px;
	margin:0 auto;
}
#logo{
	width:190px;
	position:relative;
	display:inline;
}
#header-menu{
	float:right;
	
}
#header-menu li{
	float:left;
	height:50px;
	line-height:50px;
	margin-left:10px;
	color:#fff;
}
#header-menu li a{
	color:#fff;
	text-decoration: none;
}
#header-menu li a:hover{
	font-weight:bold;
	color:#fff;
	text-decoration: none;
}

#wrap{
	margin:0 auto;
	width:1200px;
	min-width:1200;
}

/**  #container  **/
#container{
	margin-top:10px;
    position: relative;
    width: 1200px;
    z-index: 18;
}

/**  #menu  **/
#menu{
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 192px;
    z-index: 19;
	/*box-shadow:0 1px 4px rgba(0, 0, 0, 0.067);投影*/
}
#menu ul.navBox{

}
#menu ul.navBox li{
	text-align:left;
	border:0px;

	/*阴影 ie6,ie7不支持*/
	/*box-shadow:0 1px 4px rgba(0, 0, 0, 0.067);*/
}
#menu ul.navBox li a{
	position:relative;
	height:30px;
	line-height:30px;
	padding-top:10px;
	padding-bottom:10px;
	background:#FFFFFF;
	display:block;
	width:180px;
	font-size:16px;
	border-top:#F2F3F6 1px solid;
	cursor: pointer;
	overflow:hidden;
	text-decoration:none;
	/*border:#FFFFFF 1px solid;*/
}
#menu a.nav .nav-left{
	padding-left:20px;
}
#menu a.nav .nav-right{
	display: inline-block;
	position: absolute;
	top:17px;
	right:10px;
	height:16px;
	line-height: 16px;
	padding:0px 2px 2px 4px;
	color:#FFFFFF;
	background:#F89406;
	border-radius: 4px;
}
#menu ul.navBox li a.nav:hover{
	/*background:#07BEED;*/
	background:#F9F9F9;
	color:#07BEED;
	width:177px;
	border-left:#07BEED 3px solid;
	text-decoration:none;
}
#menu ul.navBox li.current a.nav{
	background:#F9F9F9;
	color:#07BEED;
	width:177px;
	border-left:#07BEED 3px solid;
	text-decoration:none;
}
#menu ul.navBox li a.subNav{
	text-align:center;
}
#menu ul.navBox li a.subNav:hover{
	/*background:#07BEED;*/
	background:#F9F9F9;
	color:#07BEED;
	text-decoration:none;
}
#menu ul.navBox li.active a.subNav{
	background:#F9F9F9;
	color:#07BEED;
}
#menu .label{
	font-size:14px;
	color:#FFFFFF;
	background:#F89406;
	margin-left:10px;
	padding:2px 7px 2px 6px;
	border-radius: 8px;
}

/**  #content  **/
#content{
	background:#FFFFFF;
	margin-left: auto;
    min-height: 748px;
	padding-left:10px;
    width: 998px;
}
#main{
    width: 988px;
}
.box-title{
	padding:7px 0;
	margin-bottom:10px;
}

.breadcrumbs{
	background:#f9f9f9; 
}
.breadcrumbs .primary {
	width: 700px;
	float: right;
	display: inline;
	padding: 2px 0 0;
}
.breadcrumbs > .secondary {
	padding: 5px 10px 0;
	float: left;
	display: inline;
}
.breadcrumbs .primary .primary{
	width: 310px;
	float: left;
	display: inline;
}
.breadcrumbs .primary .secondary{
	width: 370px;
	padding: 2px 20px 0 0;
	float: right;
	display: inline;
}
.breadcrumbs .primary .primary > select{
	float: left;
	margin-right: 5px; 
}
.breadcrumbs .primary .secondary > *{
	float: right;
	display: inline-block;
}
.breadcrumbs span{
	margin-left:20px;
}
.breadcrumbs span b{
	font-family:"Arial";
	color:#07BEED;
	margin-left:10px;
}
.main-form{
	margin-top:20px;
}
.main-form .form-line{
	margin-left:20px;
}
.main-form .operation{
	background:#f9f9f9;
	padding:10px 0 10px 150px;
}
#viewList{
	background-position: -10px -50px;
	height: 29px;
	width: 32px;
	display: block;
	float: left;
}
#viewThumb{
	background-position: -42px -78px;
	height: 29px;
	width: 32px;
	display: block;
	float: left;
}
#viewList.select, #viewList.select:hover{
	background-position: -9px -78px;
}
#viewThumb.select, #viewThumb.select:hover{
	background-position: -42px -50px;
}
#viewList:hover{
	background-position: -80px -48px;
}
#viewThumb:hover{
	background-position: -113px -48px;
}
.main-form .form-line label.label-name{
	float:left;
	height:40px;
	line-height:40px;
}
.main-form .form-line label.label-for{
	cursor:pointer;
	height:36px;
	line-height:36px;
	margin:0 5px;
	padding:5px 10px;
	border-radius:6px;
}
.main-form .form-line label.hover,.main-form .form-line label.current{
	background:#07BEED;
	color:#ffffff;
}
.main-form .form-line .append {
    background: none repeat scroll 0 0 #F2FDEC;
    color: #999999;
    display: inline;
    height: 40px;
    line-height: 40px;
	margin: 0 0 0 15px;
    padding: 10px 10px;
	font-size:15px;
}
.main-form .form-line .controls{
	
}
.main-form .form-line .controls-line{
	margin-left:130px;
}

/** #comboBox **/
.comboBox{
	border: 1px solid #07BEED;
	color: #3A3A3A;
	height: 29px;
	padding: 0 0 0 4px;
	width: 150px;
}
.
/** #checkboxTree **/
.grade-1{
	padding-left:18px;
}
#checkboxTree label{
	padding-left:10px;
}

/**  #footer  **/
#footer{
	margin:10px auto 0 auto;
	text-align:center;
	border-top:1px solid #E5E5E5;
	padding:30px 0;
	background:#FFFFFF;
}
