/**  @base  **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, button, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0 none;
}
ol, ul {
    list-style: none outside none;
}
a {
    text-decoration: none;
	color:#34495E;
}
a:focus {
    outline: medium none;
}
input,textarea,select,button {
	outline:none;
	resize:none
}
.clear{
	clear:both;
}
.center{
	text-align:center;
}
.number{
	font-family:"Arial";
}
/* button, input, select, textarea { font-size: 100%; }  浣垮緱琛ㄥ崟鍏冪礌鍦�ie 涓嬭兘缁ф壙瀛椾綋澶у皬 */

/**  @common  **/
.w-30{
	width:30px;
}
.w-100{
	width:100px;
}
.w-120{
	width:120px;
}
.w-150{
	width:150px;
}
.w-180{
	width:180px;
}
.w-240{
	width:240px;
}
.w-300{
	width:300px;
}
.line-height-20{
	height:20px;
}
.input-radio{
	height:40px;
	line-height:40px;
	vertical-align:middle;
}
.input-text{
	height:40px;
	line-height:40px;
	padding:0;
	font-size:16px;
	font-family:"寰蒋闆呴粦",Arial;
	border:1px solid #84BFEA;
}
.input-text-middle{
	height:27px;
	line-height:27px;
	padding:0;
	font-size:16px;
	font-family:"寰蒋闆呴粦",Arial;
	border:1px solid #84BFEA;
}
.float-left{
	float:left;
}
a.blueBtn{
	font-size:24px;
	height:60px;
	line-height:60px;
	padding:0 25px;
	background:#36a9e1;
	font-family:"寰蒋闆呴粦";
	color:#FFFFFF;
	display:inline-block;
	text-align:center;
}
a.blueBtn-middle{
    font-size:18px;
    height:29px;
    line-height:29px;
    padding:0 15px;
    background:#36a9e1;
    font-family:"寰蒋闆呴粦";
    color:#ffffff;
    display:inline-block;
    text-align:center;
}
a.blueBtn:hover{
	background:#1e8fc6;
}
.icon{
	background-image: url("../i/imgs.gif"); 
	background-repeat: no-repeat;
}

/**  @button-group  **/
.myui-btn-group{
	display:block;
	font-size:12px;
}
.myui-btn{
	background-color: #eeeeee;
    border: 1px solid #e1e1e1;
    color: #333333;
    cursor: pointer;
    line-height: 18px;
    padding: 2px 14px;
}
a.myui-btn:hover{
	background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    color: #333333;
}
.btn-primary{
	background-color: #28a3ef;
    border: 1px solid #1299ec;
    color: #ffffff;
}
a.btn-primary:hover{
	background-color: #4cb9fc;
    border: 1px solid #33affc;
    color: #ffffff;
}
.btn-xxlarge {
  padding: 6px 26px;
  line-height: 38px;
  font-size: 14px;
}
.btn-xlarge {
  padding: 4px 20px;
  line-height: 22px;
  font-size: 14px;
}
.btn-large {
  padding: 2px 14px;
  line-height: 22px;
  font-size: 14px;
}
.btn-small {
  padding: 0px 6px;
  line-height: 18px;
  font-size: 12px;
}

/** @table **/

.myui-table{
	background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 18px;
    max-width: 100%;
    width: 100%;
}
.myui-table th, .myui-table td {
    border-top: 1px solid #e6e6e6;
    line-height: 18px;
    padding: 6px 8px;
    text-align: left;
    vertical-align: middle;
}
.myui-table th {
    font-weight: bold;
}
.myui-table thead th {
    vertical-align: bottom;
}
.myui-table.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	border:1px solid #e6e6e6;
}
.myui-table.table-bordered th {
    background-color: #f4f4f4;
}
.myui-table.table-bordered th, .myui-table.table-bordered td {
    border-left: 1px solid #e6e6e6;
}
.myui-table.table-bordered thead:first-child tr:first-child th {
    border-bottom: 1px solid #e6e6e6;
}